PORT=5000
JWT_SECRET=lms_physics_secret_key_2026

# Neon PostgreSQL Database Connection String
# Get this string by clicking the green "Connect" button in your Neon Dashboard
DATABASE_URL=postgresql://neondb_owner:your_password@ep-xyz.us-east-1.aws.neon.tech/neondb?sslmode=require

# Email Verification (Gmail)
EMAIL_USER=madhudissa07@gmail.com
EMAIL_PASS=your_gmail_app_password
